base {
  background: #5B7887
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #C9C9C9;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

p {
  font-family: 'Klinic Slab', serif;
  color: #FFFFFF;
}

a {
  color: #EF695F;
}

small {
  color: #FFFFFF;
}
