body {
  background: #5B7887; /*dark blue*/
  text-align: center;
  margin: 0
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #C9C9C9; /*light grey*/
  text-transform: uppercase;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #FFFFFF; /*white*/
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF; /*white*/
}

p {
  font-family: 'Antic Slab', serif;
  color: #FFFFFF; /*white*/
}

a {
  font-family: 'Antic Slab', serif;
  color: #EF695F; /*red*/
}

footer {
  font-family: 'Antic Slab', serif;
  color: #FFFFFF; /*white*/
}
